<nav class="navbar navbar-expand-md navbar-light fixed-top">
    <a class="navbar-brand" >
        <strong>CPSC1517-Razor</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarMenuName" aria-controls="navbarMenuName"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenuName">
        <ul class="navbar-nav">
            
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" 
                   id="navbarSubMenu" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Exercises</a>
                <div class="dropdown-menu" aria-labelledby="navbarSubMenu">
                    <a class="dropdown-item" href="~/ExercisePages/Exercise01.cshtml">Exercise 01</a>
                    <a class="dropdown-item" href="~/ExercisePages/Exercise02_A.cshtml">Exercise 02_A</a>
                    <a class="dropdown-item" href="~/ExercisePages/Exercise02_B.cshtml">Exercise 02_B</a>
                    <a class="dropdown-item" href="~/ExercisePages/Exercise02_C.cshtml">Exercise 02_C</a>
                    <a class="dropdown-item" href="~/ExercisePages/Exercise03.cshtml">Exercise 03</a>
                    <a class="dropdown-item" href="~/ExercisePages/Exercise04.cshtml">Exercise 04</a>

                </div>
            </li>

        </ul>
    </div>
</nav>

